<div class="hero-unit">
  <h1>todos</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="item in items| filter: !!boolean"><input type='checkbox' ng-model='item.completed' ng-change='completedChanged(item)'> {{item.name}}</li>
  </ul>
  <p>{{unfinished.length}} items left</p>
    <ul>
      <li ng-repeat="item in items| filter: !boolean"><input type='checkbox' ng-model='item.completed' ng-change='completedChanged(item)'> {{item.name}}</li>
  </ul>
  <p>{{finished.length}} items finished</p>
  <p>{{items.length}} total items</p>
</div>
